<div class="global--footer__content row">
  <div class="global--footer__content__column col-12 col-lg-4">
    <a class="image-nds image--logo " href="/" data-nav="footer-nav-logo">
      <img src="{{ "/assets/img/logo-white.png" | relative_url }}" class="site-logo" alt="NIAID Logo (placeholder)" />
    </a>                    
  </div>
  <div class="global--footer__content__column col-12 col-lg-8">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-lg-6">
          <div id="block-niaidfooterpolicies" class="block block-block-content block-block-content9e0cadc6-6d7c-43d7-80f8-d9354e9546f5">
            <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item">
              <h2><a href="https://www.niaid.nih.gov/global/website-policies-and-notices" data-nav="footer-nav-website-policies-&amp;-notices">Website Policies &amp; Notices</a></h2>
              <ul>
                <li><a href="https://www.niaid.nih.gov//node/5225" data-nav="footer-nav-freedom-of-information-act-(foia)">Freedom of Information Act (FOIA)</a></li>
                <li><a href="https://www.niaid.nih.gov//node/5228" data-nav="footer-nav-no-fear-act-data">No Fear Act Data</a></li>
                <li><a href="https://www.niaid.nih.gov//node/5229" data-nav="footer-nav-privacy-policy">Privacy Policy</a></li>
                <li><a href="https://www.hhs.gov/vulnerability-disclosure-policy/index.html" data-nav="footer-nav-hhs-vulnerability-disclosure-policy" target="_blank" class="ext-link-footer">HHS Vulnerability Disclosure Policy</a><!--a href="https://www.hhs.gov/vulnerability-disclosure-policy/index.html" class="ext-link-icon" aria-label="External Link"></--></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6">
          <div id="block-relatedgovernmentwebsites" class="block block-block-content block-block-content3c700864-3242-4ab3-a522-0eda1fece512">
            <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item">
              <h2>Related Government Websites</h2>
              <div>
                <a href="http://www.niaid.nih.gov/">National Institute of Allergy &amp; Infectious Diseases</a>
                <a class="footer--relatedgovernmentwebsites ext-link-footer" href="http://www.nih.gov" data-nav="footer-nav-national-institutes-of-health" target="_blank">National Institutes of Health</a><!--a href="http://www.nih.gov" class="ext-link-icon" aria-label="External Link"></a--><br>
                <a class="footer--relatedgovernmentwebsites ext-link-footer" href="http://www.hhs.gov" data-nav="footer-nav-health-and-human-services" target="_blank">Health and Human Services</a><!--a href="http://www.hhs.gov" class="ext-link-icon" aria-label="External Link"></a--><br>
                <a class="footer--relatedgovernmentwebsites ext-link-footer" href="http://www.usa.gov" data-nav="footer-nav-usa.gov" target="_blank">USA.gov</a><!--a href="http://www.usa.gov" class="ext-link-icon" aria-label="External Link"></a--></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>